[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = git@github.com:rocketgithub/conciliacion_bancaria.git
	branch = 11.0
[submodule "bolson"]
	path = bolson
	url = git@github.com:rocketgithub/bolson.git
	branch = 11.0
[submodule "fitnessone"]
	path = fitnessone
	url = git@github.com:rocketgithub/fitnessone.git
[submodule "presupuesto_etiquetas"]
	path = presupuesto_etiquetas
	url = git@github.com:rocketgithub/presupuesto_etiquetas.git
[submodule "pos_gt"]
	path = pos_gt
	url = https://github.com/rocketgithub/pos_gt.git
	branch = 11.0
[submodule "pos_gface"]
	path = pos_gface
	url = https://github.com/rocketgithub/pos_gface.git
	branch = 11.0
[submodule "gface_guatefactura"]
	path = gface_guatefactura
	url = https://github.com/rocketgithub/gface_guatefactura.git
[submodule "rrhh"]
	path = rrhh
	url = https://github.com/rocketgithub/rrhh.git
	branch = 11.0
[submodule "albaran_analitico"]
	path = albaran_analitico
	url = https://github.com/rocketgithub/albaran_analitico.git
	branch = 10.0
[submodule "kardex"]
	path = kardex
	url = https://github.com/rocketgithub/kardex.git
	branch = 11.0
[submodule "activos"]
	path = activos
	url = https://github.com/rocketgithub/activos.git
[submodule "fel_infile"]
	path = fel_infile
	url = https://github.com/rocketgithub/fel_infile.git
[submodule "asistelibros"]
	path = asistelibros
	url = https://github.com/rocketgithub/asistelibros.git
	branch = 11.0
[submodule "pos_masivo"]
	path = pos_masivo
	url = https://github.com/rocketgithub/pos_masivo.git
[submodule "fel_infile_nit"]
	path = fel_infile_nit
	url = https://github.com/rocketgithub/fel_infile_nit.git
[submodule "crm_flow"]
	path = crm_flow
	url = git@github.com:rocketgithub/crm_flow.git
[submodule "fel_gt"]
	path = fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
	branch = 13.0
