[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = git@github.com:rocketgithub/conciliacion_bancaria.git
	branch = 11.0
[submodule "bolson"]
	path = bolson
	url = git@github.com:rocketgithub/bolson.git
	branch = 11.0
[submodule "fitnessone"]
	path = fitnessone
	url = git@github.com:rocketgithub/fitnessone.git
[submodule "presupuesto_etiquetas"]
	path = presupuesto_etiquetas
	url = git@github.com:rocketgithub/presupuesto_etiquetas.git
[submodule "pos_gt"]
	path = pos_gt
	url = https://github.com/rocketgithub/pos_gt.git
	branch = 11.0
[submodule "pos_gface"]
	path = pos_gface
	url = https://github.com/rocketgithub/pos_gface.git
	branch = 11.0
[submodule "gface_guatefactura"]
	path = gface_guatefactura
	url = https://github.com/rocketgithub/gface_guatefactura.git
